In [ ]:
#function is a block of code that is used to repeated task and it will execute only when it is called
# two types of function 1.user define function 2.built in function

In [1]:
#user defined function 
def hello():
    print("hello from the function")
hello()

hello from the function

In [7]:
def add():
    a = 10
    b = 20
    c = 30
    print(c)
add()

30

In [8]:
def add(a,b):
    print(a+b)
add(242343434545,23245345345)

265588779890

In [23]:
#arbitary argument ----args------
def child(*kids):
    print("the youngest child is " +kids[2])

child("jony","deni","alex")

the youngest child is alex

In [25]:
##keyword argument 

def child(child1,child2,child3):
    print("the youngest child is " +child3)

child(child3="jon",child2="don",child1="lon")

the youngest child is jon

In [28]:
#default parameter value
def hobby(name="coding"):
    print("my hobby is " + name)
hobby("cricket")
hobby()

my hobby is cricket
my hobby is coding

In [30]:
def lst(name):
    for i in name:
        print(i)

lst(["alex","john","eva"])

alex
john
eva

In [1]:
#using average 

def avg(name):
    print(sum(name)/len(name))

avg([2,3,4,5])

3.5

In [ ]:
#lambda functions

x = lambda a : a + 10
x(5)

15

In [5]:
#lambda function

x = lambda a,b : a + b
x(5,344)

349

In [11]:


lst = [1,2,3,4,5]
result = map(sq,lst)
print(list(result))

[1, 4, 9, 16, 25]

In [13]:
#filter function

lst = [1,2,3,4,5]
result = filter(lambda num : num%2==0,lst)
print(list(result))

[2, 4]

In [15]:
#reduce function

from functools import reduce
lst = [1,2,3,4,5,6]
result = reduce(lambda num1,num2 : num1+num2,lst)
print(result)

21

In [16]:
#enumerate = iterable karke har ek element ke saath index number add kar deta hai 

lst = ["john","alex","deni"]
result = enumerate(lst)
print(list(result))

[(0, 'john'), (1, 'alex'), (2, 'deni')]

In [17]:
#zip function -- it is used to combine two or more iteration

lst1 = ["john","alex","deni"]
lst2 = [1,2,3]
result = zip(lst1,lst2)
print(list(result))

[('john', 1), ('alex', 2), ('deni', 3)]

In [24]:
#one block are hidden than
lst1 = ["john","alex","mohan"] #not show 3rd person name 
lst2 = [1,2]
result = zip(lst1,lst2)
print(list(result))

[('john', 1), ('alex', 2)]

In [23]:
zipped = [('john', 1), ('alex', 2), ('mohan', 3)]
result ,number= zip(*zipped)
print(list(result))
print(list(number))

['john', 'alex', 'mohan']
[1, 2, 3]